* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    object-fit: contain;
    object-position: bottom;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,500px));
    justify-content: center;
    gap: 2rem;
    flex-grow: 1;
    padding: 2rem;
}

.cards .card {
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    outline: 1px solid darkgray;
}

.cards .card .imagelink {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: darkgray;
}

.cards .card .imagelink img {
    min-height: 200px;
    transition: scale 200ms ease;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

@media (hover: hover) {
    .cards .card:hover {
        outline: 2px outset darkgray;
    }
    .cards .card .imagelink {
        padding: 4px;
        padding-bottom: 0;
    }
    .cards .card .imagelink img:hover {
        scale: 1.05;
    }
}

.cards .card .content {
    margin: 1rem;
}

.cards .card .content .title {
    color: black;
    text-decoration: none;
}

.cards .card .content .title:hover {
    text-decoration: underline;
}

.cards .card .content > .title *,
.cards .card .content > :not(.title) {
    margin-bottom: 1rem;
}

.cards .card .content .tags {
    font-weight: bold;
    list-style: none;
    display: inline-flex;
    gap: 1.5ch;
    color: darkslategray;
}

.cards .card .content .readme {
    display: block;
}

.cards .card .content .readme {
    text-decoration: none;
}

.cards .card .content .readme:hover {
    text-decoration: underline;
}

/* max card size + padding from sides */
@media (max-width: calc(500px + 4rem)) {
    .cards {
        padding: 2%;
    }
}