* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (hover: hover) {
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline !important;
    }
}

body {
    min-height: 100dvh;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    object-fit: contain;
    object-position: bottom;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,500px));
    justify-content: center;
    gap: 2rem;
    flex-grow: 1;
    padding: 2rem;
}

.cards .card {
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    outline: 1px solid darkgray;
    display: flex;
    flex-direction: column;
}

.cards .card .imagelink {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: darkgray;
    flex: 1;
}

.cards .card .imagelink img {
    min-height: 200px;
    transition: scale 200ms ease,
        border-radius 100ms ease 50ms;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

@media (hover: hover) {
    .cards .card:hover {
        outline: 2px outset darkgray;
    }
    .cards .card .imagelink {
        padding: 4px;
        padding-bottom: 0;
    }
    .cards .card .imagelink img:hover {
        scale: 1.05;
        border-radius: 0;
    }
}

.cards .card .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
}

.cards .card .content .title {
    color: black;
    text-decoration: none;
}

.cards .card .content > .title *,
.cards .card .content > :not(.title):not(:last-child) {
    margin-bottom: 1rem;
}

.cards .card .content .tags {
    font-weight: bold;
    list-style: none;
    display: inline-flex;
    column-gap: 1.5ch;
    color: darkslategray;
    flex-wrap: wrap;
}

.cards .card .content .tags .html {
    color: rgb(106, 190, 205);
}

.cards .card .content .tags .css {
    color: rgb(62, 84, 163);
}

.cards .card .content .tags .js {
    color: rgb(207, 99, 144);
}

.cards .card .content .tags .api {
    color: rgb(170, 215, 66);
}

.cards .card .content .readme {
    display: block;
}

@supports (grid-template-columns: subgrid) {
    .cards {
        display: grid;
    }
    .cards .card {
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 2;
        gap: 0;
    }
    .cards .card .content {
        justify-content: space-between;
    }
    .cards .card .content .tags {
        flex: 1;
        align-content: flex-start;
    }
}

/* max card size + padding from sides */
@media (max-width: calc(500px + 4rem)) {
    .cards {
        padding: 2%;
    }
}